.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.form_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    width: 100%;
}

.form_container .clear{
    position: relative;
    display: flex;
    max-width: 20px;
    top: 4px;
    right: 22px;
    color: #0c6b6b ;
}
.form_container .clear:hover{
    color: #ab0e32;
    cursor: pointer;
}
