.footer{
    grid-area: f;
    background: rgba(31, 27, 27, 0.68);
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 25px;
}
.footer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    min-width: 600px;
    color: #ebedf1;

}
a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    /*text-decoration: none;*/
    font-size: 24px;
    overflow: hidden;
}
