.header{
    grid-area: h;
    background: rgba(12, 107, 107, 0.45);
    height: 33px;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 27px;
    margin-right: 60px;
    align-items: center;
    text-align: left;
    color: #ebedf1;
    /*font-size: 1.5rem;*/
    /*font-family: 'Inter';*/
    /*font-style: normal;*/
    line-height: 30px;
    /*width: 100px;*/
}
.title .logo{
    position: fixed;
    top: 0;
    left: 0;
    margin: 5px 10px;
    /*border: 1px solid #ff9900;*/
    border-radius: 50%;
    height: 23px;
    width: 23px;
    background: url("https://i.yapx.ru/IndfC.gif") no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 8px, rgba(0, 0, 0, 0.22) 0px 5px 2px;
}

.music_box{
    position: relative;
    top: -5px;
    display: flex;
    justify-content: space-between;
    height: 34px;
    width: 60px;
    /*border: 1px solid #ff9900;*/
}
.play_icon {
    position: relative;
    height: 33px;
    margin: 1px;
    /*display: flex;*/
    /*justify-content: center;*/
    align-items: center;
    /*border: 1px solid mediumvioletred;*/
    /*background: #111010;*/

}
.span, .span_second{
    color: rgba(255, 255, 255, 0);

}
.play_icon:hover .span{
    color: white;
}
.stop_icon{
    position: relative;
    height: 33px;
    margin: 1px;
    /*display: flex;*/
    /*justify-content: center;*/
    align-items: center;
    /*border: 1px solid mediumvioletred;*/
    /*background: #111010;*/
    color: #ff6798;
    transition: 3s;

}
.stop_icon.active{
    color: #ebedf1;
}

.stop_icon:hover .span_second{
    color: white;
}
.music{
    color: white;
    font-size: 1rem;
}
.music_active{
    color: #ff9900;
    font-size: 1rem;
    animation: music 2s linear infinite;
}

@keyframes music {
    0% {
        color: #ff9900;
        font-size: 1rem;
        /*background-position-x: -500%;*/
    }
    50%{
        color: white;
        font-size: 1.2rem;
    }
    100% {
        color: #ff9900;
        font-size: 1rem;
        /*background-position-x: 500%;*/
    }
}
h4{
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Inter';
    margin: 1px 15px 1px;
    padding-bottom: 12px;
    background: linear-gradient(90deg, #af8b9a, white, #8bafae) no-repeat;
    letter-spacing: 5px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 80%;
    animation: shine 6s linear infinite;
    position: relative;
}
@keyframes shine {
    0% {
        background-position-x: -500%;
    }
    100% {
        background-position-x: 500%;
    }
}
