.header{
    grid-area: h;
    background: rgba(12, 107, 107, 0.45);
    height: 33px;
}
.title{
    display: flex;
    justify-content: flex-start;
    margin-left: 27px;
    align-items: center;
    text-align: left;
    color: #ebedf1;
    font-size: 1.5rem;
    font-family: 'Inter';
    font-style: normal;
    line-height: 30px;
    /*width: 100px;*/
}

