.header{
    grid-area: h;
    background: rgba(93, 93, 90, 0.4);
    height: 35px;
}
.title{
    display: flex;
    justify-content: flex-start;
    margin-left: 27px;
    align-items: center;
    text-align: left;
    color: #ebedf1;
    font-size: 1.5rem;
    font-family: 'Inter';
    font-style: normal;
    line-height: 36px;
    /*width: 100px;*/
}
