.navigation{
    position: fixed;
    inset: 40px 0 40px 20px;
    background: white;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 5px;
}

.menuToggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 23px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.menuToggle::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    transform: translateY(-8px);
    transition: 0.5s;
}
.navigation_active{
    color: red;
    position: fixed;
    inset: 40px 0 40px 20px;
    background: white;
    border-radius: 5px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.navigation_active .menuToggle::before{
    transform: translateY(0) rotate(45deg);
}
.menuToggle::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    transform: translateY(8px);
    box-shadow: 0 -8px 0 #333;
    transition: 0.5s;

}
.navigation_active .menuToggle::after{
    transform: translateY(0) rotate(-45deg);
    box-shadow: 0 0 0 #333;
}

.navigation_active ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.list{
    list-style: none;
    position: relative;
    width: 100%;
    height: 3rem;
    margin-bottom: 30px;
    border-radius: 12px;
    border: 8px solid transparent;
    transition: 0.5s;
}
.list:hover{
    list-style: none;
    position: relative;
    width: 100%;
    height: 3rem;
    border-radius: 12px;
    transform: translateX(30px);
    background: rgba(12, 107, 107, 0.7);
    /*background: var(--bg);*/
    border: 1px solid #ebedf1;

}
/*.list .active {*/
/*    list-style: none;*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: 5rem;*/
/*    border-radius: 12px;*/
/*    transform: translateX(30px);*/
/*    background: rgba(12, 107, 107, 0.7);*/
/*    border: 1px solid #ebedf1;*/
/*    !*border-radius: 5px;*!*/

/*}*/
.navigation  .list::before{
    content: '';
    position: absolute;
    top: -10px;
    left: 43px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-bottom-right-radius: 20px;
    /*box-shadow: 6px 5px 0 5px var(--bg);*/
    box-shadow: 6px 5px 0 5px rgba(12, 107, 107, 0.7);
    transform: scale(0);
    transform-origin: bottom right;
    transition: 0.5s;
}
.navigation  .list:hover::before{
    right: 2px;
    transform: scale(1);
}
.navigation_active  .list::before{
    content: '';
    position: absolute;
    top: -10px;
    left: 109px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-bottom-right-radius: 20px;
    /*box-shadow: 6px 5px 0 5px var(--bg);*/
    box-shadow: 6px 5px 0 5px rgba(12, 107, 107);
    transform: scale(0);
    transform-origin: bottom right;
    transition: 0.5s;
}
.navigation_active  .list:hover::before{
    right: 2px;
    transform: scale(1);
}
/*after*/
.navigation  .list::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 43px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-top-right-radius: 20px;
    /*box-shadow: 6px 5px 0 5px var(--bg);*/
    box-shadow: 6px -3px 0 3px rgba(12, 107, 107, 0.7);
    transform: scale(0);
    transform-origin: bottom right;
    transition: 0.5s;
}
.navigation  .list:hover::after{
    right: 2px;
    transform: scale(1);
}
.navigation_active  .list::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 109px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-top-right-radius: 20px;
    /*box-shadow: 6px 5px 0 5px var(--bg);*/
    box-shadow: 6px -3px 0 3px rgba(12, 107, 107, 0.7);
    transform: scale(0);
    transform-origin: bottom right;
    transition: 0.5s;
}
.navigation_active  .list:hover::after{
    right: 2px;
    transform: scale(1);
}
.a {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: center;
    text-decoration: none;
    z-index: 1000;
}
.a .icon{
    position: relative;
    margin-top: 3px;
    margin-left: 4px;
    display: block;
    min-width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    font-size: 1.75rem;
    background: #ebedf1;
    line-height: 2.5rem;
    border: 6px solid transparent;
    transition: 0.5s;
}
.icon{
    padding-bottom: 2px;
}
.list .a .icon{
    color: #ebedf1;

}
