.form_textarea{
    margin: 0;
    padding: 0;
}
.textarea{
    /* width: 500px;
    height: 27px; */
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 30px;
    border-radius: 5px;
    border-color: rgba(235, 237, 241, 0.01);
    background: #bbefd9;
    color: #0c6b6b ;
    outline-color: rgba(255, 153, 0, 0.66);
    box-shadow: rgba(133, 133, 162, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}