.myModal{
    /*grid-area: m;*/
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    /*bottom: 0;*/
    /*right: 0;*/
    /*display: none;*/
    background: rgba(20, 47, 59, 0.78);
    /*z-index: 999;*/
}
.myModalContent{
    padding: 25px;
    background: #1a1f1d;
    border-radius: 16px;
    min-width: 250px;
    z-index: 100;

}
.myModal.active{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
