.myModal{
    /*grid-area: m;*/
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    bottom: 0;
    right: 0;
    display: none;
    background: rgba(20, 47, 59, 0.78);
    transition: 1s;
    /*z-index: 999;*/
}
.myModal.active{
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    /*z-index: 99;*/
}
.myModalContent{
    padding: 25px;
    background: #403f50;
    border-radius: 16px;
    width: 600px;
    min-height: 250px;

    /*z-index: 100;*/

}

