.myModal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background: rgba(20, 47, 59, 0.78);
}
.myModalContent{
    padding: 25px;
    background: #1a1f1d;
    border-radius: 16px;
    min-width: 250px;

}
.myModal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}
