.mainn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 1600px;
    background: #0c6b6b;
}
.form{
    /*margin: 20px;*/
    height: 700px;
    width: 900px;
    border: 1px solid wheat;
    background: rgba(43, 57, 69, 0.9);
}
.main_btn{
    position: fixed;
    top: 30px;
    left: 30px;
    margin: 20px;
}
/*.mainn ul {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 400px;*/
/*    width: 400px;*/
/*    color: #ebedf1;border: 1px solid wheat;*/
/*}*/
/*.mainn li{*/
/*    width: 350px;*/
/*    margin: 10px;*/
/*    border: 1px solid wheat;*/
/*    cursor: pointer;}*/
/*.mainn li.active{*/
/*    color: #ff9900;*/
/*    border-color: #af8b9a;*/
/*    background: #2f1422;*/
/*}*/
/*.mainn .btn_box{*/
/*    display: flex;*/
/*    border: 1px solid wheat;*/

/*}*/
